{
    "env": {
        "browser": true,
        "webextensions": true
    },
    "extends": [
        "airbnb-base"
    ],
    "rules": {
        "indent": ["error", 4],
        "padded-blocks": "off",
        "no-multiple-empty-lines": "off"
    }
}
